# --- Archivos de Configuración y Secretos ---
.env
app/config/credentials.json
.streamlit/secrets.toml

# --- Archivos de Datos y Reportes ---
*.csv
app/3_output_reports/
app/4_backups/
app/5_libreros/
app/portadas_originales/
app/2_scripts/emparejar_portadas.py
app/sql queries
app/1_input_data
app/portadas_listas_para_subir
# --- Carpetas Deprecadas e Info ---
info/
deprecated_app/
app/config
# --- Archivos Temporales de Python ---
__pycache__/
*.pyc

app/emparejar_portadas.py
